<footer class="fallible-footer" aria-label="Fallible attribution">
  <a
    class="fallible-link"
    href="https://docs.google.com/document/d/119Om2v-ytW_VNzFSc_aE8kj6AphuWt0AZ6IUtlDdq6o/edit?usp=sharing"
    target="_blank"
    rel="noopener noreferrer"
    (click)="onImageClick($event)">
    <img
      class="fallible-image"
      src="assets/images/FallibianBox.png"
      alt="Fallibian Box"
      width="48"
      height="48" />
  </a>
  <p class="fallible-caption">Brought to you by the Fallible</p>
</footer>
