<app-page-layout [backButton]="backButton">
  <div class="ai-disclosure-page">
    <h1>AI Disclosure</h1>

    <p>
      This is a disclosure from Ritu Vedi, founder of the Liberation Fleet and developer of this application.
    </p>

    <p>
      First, I want to make it clear. I believe that AI, given the present means of powering it, training it, and the lack of regulations keeping it from causing undue harm to society at large, is unethical and harmful.
    </p>

    <p>Here are some of the issues related to the advent of AI:</p>

    <ul>
      <li>Data centers that degrade the quality of life of nearby communities</li>
      <ul>
        <li>Polluting water on a massive scale</li>
        <li>Loud noises</li>
        <li>Increased power bill costs</li>
      </ul>
      <li>Making computers far less accessible in a day and age where they are often required for work via increasing the price of components like RAM.</li>
      <li>Creating and spreading misinformation and disinformation on a massive scale.</li>
      <li>Degrading human capacities to create.</li>
      <li>Furthering loneliness and isolation through making social interactions feel increasingly unnecessary.</li>
      <li>The eradication of media based accountability (any form of video, audio, image, or other evidence is easily discarded as being AI generated).</li>
      <li>The theft of the intellectual property of artists, authors, and others.</li>
      <li>Redirecting people away from sites by summarizing the contents; depriving creators of potential revenue.</li>
      <li>The violation of consent through the power to use AI to make a video or image of any man, woman, or child do whatever the user desires including but not limited to sexual exploitation.</li>
      <li>The eradication of military accountability through the use of AI in machines of war and weapons of mass destruction.</li>
    </ul>

    <p>
      Therefore, we should all do what we can to either minimize our use of it if not out-right refuse to use it all together until all of these issues are remedied.
    </p>

    <p>
      However, as corporations embrace generative AI, it is becoming more and more common to require employees to use generative AI as a part of their work flow. As a software developer myself, I am hard pressed to find work that does not require the use of generative AI.
    </p>

    <p>
      Therefore I am faced with a choice. I could try to switch careers at the large risk of no longer being able to adequately provide for my family. I could find another job in software development and go on using generative AI indefinitely. Or I could build something towards the end of cutting AI use out of my life all together.
    </p>

    <p>
      Presently the only work I have only been able to find that pays me well enough is work training AI models on how to develop software. However, sometimes I am permitted to use my own development data in the training. Therefore I have been using AI model training as a means to make developing this application a financially frugal means of providing for my family.
    </p>

    <p>
      I do not use AI in any of my other creative endeavors. Not for writing, not for art, not even for the design of this system and its UI/UX. I have only used AI to turn my pseudo code into features and my goal is to completely cut AI use from development of this application once I receive enough financial footing to be able to afford it.
    </p>

    <p>
      This is a judgment call I have made as the quickest means towards eliminating AI use in my life and in this company. In an industry where most companies are moving into AI dependency, we are doing our best to move away from it. Still, many people are opposed to AI use entirely, and so I understand if that would be a dealbreaker with using any application that is tainted by AI use including this application (most mainstream applications). Ultimately, I would hope to one day be able to afford to rebuild this application from the ground up AI free, for now I can only afford to take steps toward being able to afford eliminating AI use going forward.
    </p>

    <p class="signature">-Ritu Vedi</p>
  </div>
</app-page-layout>
