<div class="page-layout">
  <div class="page-content" [class.page-content-fill]="fillHeight">
    <div class="page-content-inner" [class.page-content-inner-fill]="fillHeight">
      <ng-content></ng-content>
      <app-fallible-footer></app-fallible-footer>
    </div>
  </div>

  <div class="action-bar">
    <button
      *ngIf="backButton"
      class="action-button back-button"
      (click)="backButton.onClick && backButton.onClick()"
      [disabled]="backButton.disabled"
      type="button"
      aria-label="Go back">
      <i class="fa-solid fa-angle-left" aria-hidden="true"></i>
    </button>

    <button
      *ngIf="primaryButton"
      class="action-button primary-button"
      [class.has-secondary]="secondaryButton"
      (click)="primaryButton.onClick && primaryButton.onClick()"
      [disabled]="primaryButton.disabled"
      type="button">
      {{ primaryButton.label }}
    </button>

    <button
      *ngIf="secondaryButton"
      class="action-button secondary-button"
      (click)="secondaryButton.onClick && secondaryButton.onClick()"
      [disabled]="secondaryButton.disabled"
      type="button">
      {{ secondaryButton.label }}
    </button>
  </div>
</div>
