# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfvars.local
backend.hcl
*.backend.hcl
!*.backend.hcl.example

# Secrets / local env
.env
.env.*
!.env.example
